@{
    ViewBag.Title = "About MIS4200";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a College of Business student at Ohio University. I am majoring in Management Information System and Finance. The teams I support are The Cincinnati Bengals, Cincinnati Reds, FC Cincinnati and Wolverhampton Wanders FC. </p>
