@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    9 Fern Street Apt. C<br />
    Athens, Ohio<br />
    <abbr title="Phone">P:</abbr>
    513.259.9350
</address>

<address>
    <strong>Work:</strong>   <a href="mailto:jessmichaelcarr@outlook.com">jessmichaelcarr@outlook.com</a><br />
    <strong>School:</strong> <a href="mailto:jc086615@ohio.edu">jc086615@ohio.edu</a>
</address>