@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p class="lead">prerequisites for this class are MIS 2020 and 3200.</p>
    <p><a href="https://webapps.ohio.edu/classes/results.htm?selectedTerm=2020SPRING&_selectedTerm=1&locations=ATHN&_locations=on&_locations=on&_locations=on&_locations=on&_locations=on&_locations=on&_locations=on&_locations=on&_locations=on&_locations=on&_locations=on&_locations=on&includeOnline=true&ecampusProgram=NONE&subject=Management+Information+Systems+%28MIS%29&courseNumber=&className=&courseTopic=&courseLevel=A&statuses=ALL&_statuses=on&statuses=OPEN&_statuses=on&statuses=WAITLIST&_statuses=on&statuses=FULL&_statuses=on&statuses=MAJORS&_statuses=on&statuses=PERMISSION&_statuses=on&_statuses=on&includeCanceled=false&generalEducationCode2=ALL&beginDate=&endDate=&instructor=&courseDescription=&creditHours=&classStartTime=&classEndTime=&_classDay=on&_classDay=on&_classDay=on&_classDay=on&_classDay=on&_classDay=on&_classDay=on&gradeEligibilityCode=GE0&building=&room=&resultsPerPage=50&searchType=basic" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hire Me</h2>
        <p>
            I am graduating December 2020.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/jess-carr/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Undergraduate Majors</h2>
        <p>
            Accounting, Business Pre-Law, International Business, Management Information Systems, Business Analytics,
            Entrepreneurship Major, Management & Strategic Leadership, Sport Management, Business Economics, Finance, Marketing
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/academics/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Selective Programs</h2>
        <p>
            Finance:  Student Equity Management Group, Student Fixed Income Management Group, or Derivatives Management Group
            Accounting: SOX Fellow
            Leadership: Select Leadership Development Program,  Emerging Leaders
            Sales: The 'Schey'
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/academics/selective-programs/">Learn more &raquo;</a></p>
    </div>
</div>